<div class="row">
    <div class="col-md-4">
        <strong>Ex-Prmoise 01</strong>
        <hr>
        <button class="btn btn-primary">Promise</button>
        <div id="promise01">

        </div>
    </div>

</div>
<div class="promise02">
    <table>
        <tr>
            <th *ngFor="let i of index">{{i}}</th>
        </tr>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.userId}}</td>
            <td>{{post.body}}</td>

        </tr>
    </table>
</div>